@media( min-width: $desktopSize ){

    header{

        h1{
            font-size: 50px;
        }

        h3{
            font-size: 38px
        }
    }

    .projectsSection{
        

        .Project-Card{
            width: 30%;
            height: 50vh;

        }
    }
}