// text font 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

// screen size
$mobileSize     : 300px;
$tabletSize     : 700px;
$descktopSize   : 1000px;

// color
$colorMain      : #FFCB47;
$colorBlack     : #272932;
$colorGray      : #8F857D;
$colorWhite     : #FFFBFE;

// font family
$fontFamily     : 'Open Sans', sans-serif;